<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SchoolTrack.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DBFC64FF1BD2D4F900C5304C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DBFC65181BD2D4F900C5304C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DBFC65231BD2D4F900C5304C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
